- all_steps_content = resource.try(:rich_text_all_steps_content)
- step_content = resource.try("rich_text_#{step}_content")

- if all_steps_content.present?
  .card.mb-4
    .card-body= all_steps_content.to_s

- if step_content.present?
  .card.mb-4
    .card-body= step_content.to_s
