- f.object.shipping_address ||= (f.object.owner.try(:shipping_address) || f.object.owner.try(:billing_address))
- f.object.name ||= f.object.owner.to_s

= f.text_field :name
= f.text_field :name_confirmation, hint: 'must match name'

- collection = local_assigns[:parent].try(:stamp_categories) || EffectiveProducts.stamp_categories
= f.select :category, collection

= effective_address_fields(f, :shipping)
